<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Renata Versiani</title>
  <meta content="" name="Site pessoal da Renata Versiani">
  <meta content="" name="dança, ballet, coreógrafa">

  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

</head>

<body>


  <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">Sobre mim</a></li>
        <li><a class="nav-link scrollto" href="#trajetoria">Trajetória</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">Portfólio</a></li>
        <li><a class="nav-link scrollto" href="#atuacao">Áreas de Atuação</a></li>
        <!--<li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>-->
        <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </header>
  
  <section id="hero">
    <div class="hero-container">
      <h1>Renata Versiani</h1>
      <h2>Artista, Diretora de Movimento e Preparadora Corporal</h2>
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section>

  <main id="main">

    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <span>Sobre mim</span>
          <h2>Sobre mim</h2>
          <p>Artista, performer, bailarina, professora especializada, diretora de movimento e empresária. </p>
        </div>

        <div class="row">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-lg-8 d-flex flex-column align-items-stretch">
            <div class="content ps-lg-4 d-flex flex-column justify-content-center">
              <div class="row">

                  <section id="resume" class="resume">
  
                    <div class="col-lg-6">
                      <h3 class="resume-title">Experiência Profissional</h3>
                      <div class="resume-item">
                        <h4>Sócia fundadora do ReFerencia em Artes</h4>
                        <h5>2016 - Presente</h5>
                        <p><em>Rio de Janeiro/RJ </em></p>
                        <p>
                        <ul>
                          <li>Projeto aprovado na Lei Rouanet em 2024, em fase de captação.</li>
                          <li>Coreógrafa Assistente da Abertura dos Jogos Olímpicos Rio 2016.</li>
                        </ul>
                        </p>
                      </div>
                      <div class="resume-item">
                        <h4>Professora na Faculdade Angel Vianna</h4>
                        <h5>2010 - Presente</h5>
                        <p><em>Rio de Janeiro/RJ</em></p>
                        <p>
                        <ul>
                          <li>Aulas de Ballet e dança clássica, dança contemporânea, composição coreográfica</li>
                        </ul>
                        </p>
                      </div>
                        </div>


                </section>
                </div>
              </div>

            </div>
      

          </div>
        </div>

      </div>
    </section>


    <section id="trajetoria" class="services">
      <div class="container">

        <div class="section-title">
          <span>Trajetória</span>
          <h2>Trajetória</h2>
        </div>

        <div class="row">


          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-check-shield"></i></div>
              <h4 class="title"><a href="">Bailarina Clássica</a></h4>
              <p class="description">Aos 13 anos, Renata deu seus primeiros passos profissionais, participando de "A Divina Comédia" dirigida por Regina Miranda e integrando o grupo Ballet Oficina de Edmundo Carijó. Aos 15, ingressou no Teatro Municipal do Rio De Janeiro, onde construiu uma sólida carreira como bailarina clássica ao longo de 11 anos. Rapidamente ascendendo de bailarina de corpo de baile para solista e, aos 17 anos, atuando como a Primeira Bailarina, sob a direção artística de Jean-Yves Lormeau. Renata dançou os grandes papéis principais em obras clássicas e contemporâneas, sendo dirigida por renomados artistas nacionais e internacionais.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-check-shield"></i></div>
              <h4 class="title"><a href="">Dançarina Contemporânea</a></h4>
              <p class="description">Após uma década imersa no universo clássico, Renata sentiu o chamado para explorar novas fronteiras na dança. Ingressou na renomada Cia. de Dança Deborah Colker, onde começou suas habilidades como intérprete e criadora e viajou pelo mundo e Brasil. Trabalho em outras grandes cias de contemporâneo no Rio de Janeiro, após seus 8 anos de Deborah, dentre elas: Ateliê de coreografia/João Saldanha, Grupo Tápias, Staccato/Paulo Caldas e outros. Com formação em licenciatura em dança pela Faculdade/Escola Angel Vianna, Renata mergulhou ainda mais nas pesquisas de movimento, colaborando com diversas produções e expandindo seu conhecimento e explorando novas formas de expressão em videodança, performance,  professora e direção de movimento.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-check-shield"></i></div>
              <h4 class="title"><a href="">Diretora de Movimento e Coreógrafa</a></h4>
              <p class="description">Após concluir sua pós-graduação em Sistema Laban/Bartenieff com Regina Miranda na FAV, Renata mergulha na pesquisa do Expressionismo, fundamentando sua abordagem da <a href="/movimentacao">Movimentação Singular</a>, pesquisa autoral. Em 2014, Renata colaborou na criação e realização do curta-metragem "Novo Corpo Amoroso"(primeira obra autoral) demonstrando sua versatilidade como coreógrafa, intérprete e editora. Continuando sua jornada, Renata participou como coreografa assistente da abertura dos Jogos Olimpicos RJ 2016 e vem contribuindo em performances urbanas, novas coreografias e direções inovadoras, expandindo seu alcance e influência na cena artística contemporânea. </p>
            </div>
          </div>

          
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-check-shield"></i></div>
              <h4 class="title"><a href="">Referencia em Artes</a></h4>
              <p class="description">Sócia fundadora,  junto com Fernanda Cavalcanti, da Referencia em Artes. Uma produtora cultural independente, que nasceu da vontade de levar a dança para o maior número de pessoas e manter o constante diálogo com outras formas de expressão artística.  </p>
              <p>Trabalha com direção de movimento para grandes eventos (Rock in Rio, Game XP, Olimpíadas 2016), e eventos empresariais (L'Oreal, Biomarim) e premiações (Prêmio Brasil Olímpico, e-Sports).</p>
              <p><a href="/referencia">veja mais</a></p>
            </div>
          </div>

        </div>

      </div>
    </section>
    
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='assets/img/testimonials/renata.png') }}" class="testimonial-img" alt="">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Uma eterna apaixonada, curiosa e pesquisadora do movimento e de todas as capacidades quânticas e corporais que o ser humano tem para se expressar e se comunicar. 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Renata Versiani</h3>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='assets/img/testimonials/renata.png') }}" class="testimonial-img" alt="">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  É No corpo e nas suas infinitas possibilidades de expressão que o artista cênico se coloca no mundo.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Renata Versiani</h3>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    


        <section id="atuacao" class="services">
          <div class="container">
    
            <div class="section-title">
              <span>Áreas de Atuação</span>
              <h2>Áreas de Atuação</h2>
            </div>
    
            <div class="row">
    
    
              <div class="col-md-4 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-street-view"></i></div>
                  <h4 class="title"><a href="">Professora e Pesquisadora</a></h4>
                  <p class="description">Professora e Pesquisadora na Faculdade Angel Vianna. Ministra aulas de dança clássica, contemporânea e composição coreográfica</p>
                </div>
              </div>
    
              <div class="col-md-4 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-street-view"></i></div>
                  <h4 class="title"><a href="">Intérprete e Performer</a></h4>
                  <p class="description">Atua como convidada em projetos para performance e em projetos autorais.</p>
                </div>
              </div>
    
                  
              <div class="col-md-4 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-street-view"></i></div>
                  <h4 class="title"><a href="">Direção de Movimento e Coreografia</a></h4>
                  <p class="description">Atua em direção de movimento para teatro, comerciais, intervenções urbanas e eventos corporativos.</p>
                </div>
              </div>
    
              <div class="col-md-4 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-street-view"></i></div>
                  <h4 class="title"><a href="">Movimentação Singular</a></h4>
                  <p class="description">Pesquisa de movimento autoral, voltada para profissionais de artes cênicas</p>
                  <p><a href="/movimentacao">Veja mais</a></p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section>
        


    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Meu Portfólio</span>
          <h2>Meu Portfólio</h2>
          <p>Alguns trabalhos realizados ao longo da minha carreira.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center">
          <li data-filter="*" class="filter-active">Ver tudo</li>
          <li data-filter=".filter-contemporanea">Contemporânea</li>
          <li data-filter=".filter-carnaval">Carnaval</li>
          <li data-filter=".filter-classica">Clássica</li>
          <li data-filter=".filter-novela">Novela</li>
        </ul>

        <div class="row portfolio-container">

          <div class="col-lg-3 col-md-4 portfolio-item filter-contemporanea">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/4por4.gif') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>intérprete/criadora</h4>
              <p>4x4 Cia. Deborah Colker</p>
              <p>foto: Flavio Colker</p>
              <a href="https://player.vimeo.com/video/926696765?autoplay=1&loop=1&title=0&byline=0&controls=0&muted=1" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

        
          <div class="col-lg-3 col-md-4 portfolio-item filter-classica">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-1.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>bailarina</h4>
              <p>Visões Musicas de Marcia Haydee</p>
              <p>Foto: Bruno Veiga</p>
              <a href="https://youtu.be/hIEpMmya6bQ?si=tRBJFdDKi1JoM84D&controls=0" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

                  
          <div class="col-lg-3 col-md-4 portfolio-item filter-novela">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/tango.gif') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>participação especial</h4>
              <p>Novela Globo Caminho das Índias</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/tango.gif') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div class="col-lg-3 col-md-4 portfolio-item filter-carnaval">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-2.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Equipe criativa de Alex Neoral</h4>
              <p>Comissão de frente da Imperatriz Leopoldinense</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-2.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div class="col-lg-3 col-md-4 portfolio-item filter-contemporanea">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/corpo_amoroso.gif') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Concepção, idealização, coreografia, edição, interprete.</h4>
              <p>Projeto autoral – Corpo Amoroso</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/corpo_amoroso.gif') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          
          <div class="col-lg-3 col-md-4 portfolio-item filter-contemporanea">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/azul.gif') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>intérprete e cridora</h4>
              <p>O Azul do céu me indeteremina</p>
              <p>direção e concepção: Flávia Tápias</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/azul.gif') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div class="col-lg-3 col-md-4 portfolio-item filter-carnaval">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-3.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Equipe criativa de Alex Neoral</h4>
              <p>Comissão de frente da Unidos da tijuca</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-3.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          
          <div class="col-lg-3 col-md-4 portfolio-item filter-contemporanea">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/dinamo.gif') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>intérprete e cridora</h4>
              <p>Dinamo Cia Deborah Colker </p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/dinamo.gif') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div class="col-lg-3 col-md-4 portfolio-item filter-novela">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-4.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Assistência de direção e coreografia</h4>
              <p>Novela da Globo Império</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-4.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div class="col-lg-3 col-md-4 portfolio-item filter-contemporanea">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-5.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4></h4>
              <p>Olhar de um corpo para o Espaço aurora SP</p>
              <p>exposição de Tunga</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-5.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div class="col-lg-3 col-md-4 portfolio-item filter-contemporanea">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/intersecao.png') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4></h4>
              <p>Interseção</p>
              <p>foto: Ernesto Baldan</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/intersecao.png') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>


          <div class="col-lg-3 col-md-4 portfolio-item filter-classica">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-6.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>primeira bailarina em Ganzaty</h4>
              <p>La Bayadere remontagem de  Natalia Makarova no TMRJ </p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-6.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div class="col-lg-3 col-md-4 portfolio-item filter-classica">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-7.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>solista da dança Árabe</h4>
              <p>Quebra Nozes de Dalal Aschar  no TMRJ </p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-7.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div class="col-lg-3 col-md-4 portfolio-item filter-contemporanea">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-8.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4></h4>
              <p>Sessão de fotos particular na Casa da Glória </p>
              <p>foto: Cinese</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-8.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div class="col-lg-3 col-md-4 portfolio-item filter-contemporanea">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-9.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>intérprete e criadora</h4>
              <p>Tudo que não invento é falso de Paula Maracaja</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-9.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>


          <div class="col-lg-3 col-md-4 portfolio-item filter-classica">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-10.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>bailarina</h4>
              <p>Águas Primaveris no TMRJ</p>
              <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-10.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Renata Versiani"><i class="bx bx-plus"></i></a>
              <!--<a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>


        </div>

      </div>
    </section>


    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <span>Contato</span><h2>Contato</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-share-alt"></i>
                  <h3>Redes sociais</h3>
                  <div class="social-links">
                    <a href="https://www.instagram.com/renatalversiani/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/renataversiani/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    <a href="https://www.youtube.com/@renataversiani2841" target="_blank" class="youtube"><i class="bi bi-youtube"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email</h3><p><img src="{{ url_for('static', filename='assets/img/email.png') }}" height="24"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>


  <footer id="footer" hidden>
    <div class="container">
      <h3>Renata Versiani</h3>
      <p>Sou foda! Sou Linda!</p>
      <div class="social-links">
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Laura</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>
