<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Movimentação Singular</title>
  <meta content="" name="Pesquisa sobre Movimentação Singular">
  <meta content="" name="dança, ballet, laban">

  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

</head>

<body>


  <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">O que é</a></li>
        <li><a class="nav-link scrollto" href="#pele">Pele</a></li>
        <li><a class="nav-link scrollto " href="#osso">Osso</a></li>
        <li><a class="nav-link scrollto" href="#musculo">Músculo</a></li>
        <!--<li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>-->
        <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </header>
  
  <section id="hero" style="background-image: url('/static/assets/img/fundo2.jpg')">
    <div class="hero-container">
      <h1>Movimentação Singular</h1>
      <h2>a movimentação singular tem duas cois, movimentação e singular.</h2>
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section>

  <main id="main">

    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <span>O que é Movimentação Singular</span>
          <h2>O que é Movimentação Singular</h2>
          <p>É uma parada que movimenta</p>
        </div>

        <div class="row">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"  style="background-image: url('/static/assets/img/fundo2.jpg')"></div>
          <div class="col-lg-8 d-flex flex-column align-items-stretch">
            <div class="content ps-lg-4 d-flex flex-column justify-content-center">
              <div class="row">


                  
    <section id="componentes" class="services">
        <div class="container">
  
          <div class="section-title">
            <span>Texturas</span>
            <h2>Texturas</h2>
          </div>
  
          <div class="row">
  
  
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-user"></i></div>
                <h4 class="title"><a href="">Pele</a></h4>
                <p class="description">...</p>
              </div>
            </div>
  
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-bone"></i></div>
                <h4 class="title"><a href="">Osso</a></h4>
                <p class="description">...</p>
              </div>
            </div>
  
                
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-walk"></i></div>
                <h4 class="title"><a href="">Músculo</a></h4>
                <p class="description">...</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>

                </div>
              </div>

            </div>
      

          </div>
        </div>

      </div>
    </section>


    

    
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials1.jpg') }}" class="testimonial-img" alt="">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Uma eterna apaixonada, curiosa e pesquisadora do movimento e de todas as capacidades quânticas e corporais que o ser humano tem para se expressar e se comunicar. 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Renata Versiani</h3>
              </div>
            </div>


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    

        
    <section id="pele" class="portfolio-details">
        <div class="container">
  
            <div class="section-title">
                <span>Pele</span>
                <h2>Pele</h2>
                <p>É uma parada que movimenta</p>
              </div>

          <div class="row gy-4">
  
            <div class="col-lg-6">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
  
                  <div class="swiper-slide">
                    <img src="{{ url_for('static', filename='assets/img/portfolio/4por4.gif') }}" alt="">
                  </div>
  
                  <div class="swiper-slide">
                    <img src="{{ url_for('static', filename='assets/img/portfolio/4por4.gif') }}" alt="">
                  </div>
  
                  <div class="swiper-slide">
                    <img src="{{ url_for('static', filename='assets/img/portfolio/4por4.gif') }}" alt="">
                  </div>
  
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="portfolio-info">
                <h3>Project information</h3>
                <ul>
                  <li><strong>Category</strong>: Web design</li>
                  <li><strong>Client</strong>: ASU Company</li>
                  <li><strong>Project date</strong>: 01 March, 2020</li>
                  <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                </ul>
              </div>
              <div class="portfolio-description">
                <h2>This is an example of portfolio detail</h2>
                <p>
                  Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>


      
        
    <section id="osso" class="portfolio-details">
        <div class="container">
  
            <div class="section-title">
                <span>Osso</span>
                <h2>Osso</h2>
                <p>É uma parada que movimenta</p>
              </div>

          <div class="row gy-4">
  
            <div class="col-lg-6">
                <div class="portfolio-info">
                  <h3>Project information</h3>
                  <ul>
                    <li><strong>Category</strong>: Web design</li>
                    <li><strong>Client</strong>: ASU Company</li>
                    <li><strong>Project date</strong>: 01 March, 2020</li>
                    <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                  </ul>
                </div>
                <div class="portfolio-description">
                  <h2>This is an example of portfolio detail</h2>
                  <p>
                    Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                  </p>
                </div>
              </div>

            <div class="col-lg-6">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
  
                  <div class="swiper-slide">
                    <img src="{{ url_for('static', filename='assets/img/portfolio/4por4.gif') }}" alt="">
                  </div>
  
                  <div class="swiper-slide">
                    <img src="{{ url_for('static', filename='assets/img/portfolio/corpo_amoroso.gif') }}" alt="">
                  </div>
  
                  <div class="swiper-slide">
                    <img src="{{ url_for('static', filename='assets/img/portfolio/tango.gif') }}" alt="">
                  </div>
  
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
  

  
          </div>
  
        </div>
      </section>


      
        
    <section id="musculo" class="portfolio-details">
        <div class="container">
  
            <div class="section-title">
                <span>Músculo</span>
                <h2>Músculo</h2>
                <p>É uma parada que movimenta</p>
              </div>

          <div class="row gy-4">
  
            <div class="col-lg-6">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
  
                  <div class="swiper-slide">
                    <img src="{{ url_for('static', filename='assets/img/portfolio/azul.gif') }}" alt="">
                  </div>
  
                  <div class="swiper-slide">
                    <img src="{{ url_for('static', filename='assets/img/portfolio/dinamo.gif') }}" alt="">
                  </div>
  
                  <div class="swiper-slide">
                    <img src="{{ url_for('static', filename='assets/img/portfolio/intersecao.png') }}" alt="">
                  </div>
  
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="portfolio-info">
                <h3>Project information</h3>
                <ul>
                  <li><strong>Category</strong>: Web design</li>
                  <li><strong>Client</strong>: ASU Company</li>
                  <li><strong>Project date</strong>: 01 March, 2020</li>
                  <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                </ul>
              </div>
              <div class="portfolio-description">
                <h2>This is an example of portfolio detail</h2>
                <p>
                  Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>


    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <span>Contato</span><h2>Contato</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-share-alt"></i>
                  <h3>Redes sociais</h3>
                  <div class="social-links">
                    <a href="https://www.instagram.com/renatalversiani/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/renataversiani/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    <a href="https://www.youtube.com/@renataversiani2841" target="_blank" class="youtube"><i class="bi bi-youtube"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email</h3><p><img src="{{ url_for('static', filename='assets/img/email.png') }}" height="24"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>


  <footer id="footer" hidden>
    <div class="container">
      <h3>Renata Versiani</h3>
      <p>Sou foda! Sou Linda!</p>
      <div class="social-links">
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Laura</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>